<!DOCTYPE html>
<html>
<head>
    <title>Ticket Confirmed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="ticket">
        <div class="header">Booking Confirmed! Check your Email.</div>
        <div class="content">
            <div>
                <div class="row"><div class="label">MOVIE</div><div class="value">{{ booking.movie_name }}</div></div>
                <div class="row"><div class="label">DATE</div><div class="value">{{ booking.date }}</div></div>
                <div class="row"><div class="label">THEATER</div><div class="value">{{ booking.theater }}</div></div>
            </div>
            <div>
                <div class="row"><div class="label">BOOKING ID</div><div class="value">{{ booking.booking_id }}</div></div>
                <div class="row"><div class="label">SEATS</div><div class="value">{{ booking.seats }}</div></div>
                <div class="row"><div class="label">AMOUNT PAID</div><div class="value">₹{{ booking.amount_paid }}</div></div>
            </div>
        </div>
        <a href="/home1" class="btn">Back to Home</a>
    </div>
</body>
</html>